* {
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(120, 230, 126);
  background: radial-gradient(
    circle,
    rgba(120, 230, 126, 1) 0%,
    rgba(241, 181, 113, 1) 100%
  );
}

h1,
h2,
p {
  margin: 0;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
}

h1 {
  color: rgb(211, 109, 25);
}

h2 {
  color: rgb(26, 184, 73);
  margin: 0;
}

p {
  color: rgb(153, 33, 63);
}

.quiz-section {
  width: 900px;
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(135, 161, 238);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 10px 2px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startBtn {
  width: fit-content;
  margin-top: 5rem;
  padding: 1rem;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 3s infinite;
}

.startBtn:hover {
  background-color: rgb(71, 230, 150);
}

.landingImg {
  display: block;
  max-width: 200px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 5px 0;
}

.btn {
  border: 1px solid rgb(136, 164, 247);
  background-color: rgb(71, 230, 150);
  border-radius: 5px;
  padding: 0.5rem;
  color: rgb(32, 104, 70);
  box-sizing: content-box;
  border: rgba(0, 0, 0, 0) solid 1px;
}

.btn:hover {
  margin: -1px;
  border: rgb(32, 104, 70) solid 2px;
}

.pokemon-section {
  margin-left: auto;
  margin-right: auto;
}

#prizeImg {
  width: 100px;
  padding: 5px;
  animation: pulse 1s infinite;
}

ul {
  margin: 0;
}

.loader {
  display: none;
  border: 16px solid #e60909;
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  margin-left: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.hidden {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 400px) {
  h1,
  h2,
  .btn,
  p {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  h1,
  h2,
  .btn,
  p {
    font-size: 1.5rem;
  }

  .quiz-section {
    padding: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  h1,
  h2,
  .btn,
  p {
    font-size: 1.8rem;
  }
}
